@model Trainer

<h2 class="mt-5">Delete Trainer</h2>
<form method="post" class="mt-4">
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="FirstName" class="mb-1"></label>
        <input asp-for="FirstName" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="mb-1"></label>
        <input asp-for="LastName" class="form-control" disabled/>
    </div>
    <div class="mb-3">
        <label asp-for="Subject" class="mb-1"></label>
        <input asp-for="Subject" class="form-control" disabled/>
    </div>
    <button type="submit" class="btn btn-danger" style="width: 150px;">
        Delete
    </button>
    <a asp-controller="Trainer" asp-action="Index" class="btn btn-secondary" style="width: 150px;">
        Back to list
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}